<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" android:minSdkVersion="33" />
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MOUM"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="nvg9q7ut9q" />
        <activity
            android:name=".view.auth.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.chat.ChatActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.auth.InitialActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.auth.SignupBasicActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.auth.SignupProfileActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.auth.LoginActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.community.BoardFreeWriteActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.community.CommunitySearchActivity"
            android:exported="false"
            android:theme="@style/Theme.MOUM" />
        <activity
            android:name=".view.chat.ChatCreateChatroomActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.chat.ChatCreateChatroomOnwardActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.chat.TestActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.moum.TeamCreateActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.moum.MoumCreateActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.moum.MoumManageActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.chat.InviteActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.moum.MoumUpdateActivity"
            android:exported="true">
        </activity>
        <activity android:name=".view.moum.MoumFindPracticeroomActivity"
            android:exported="true">
        </activity>
        <activity android:name=".view.moum.MoumMapPracticeroomActivity"
            android:exported="true">
        </activity>
        <activity android:name=".view.community.PerformanceActivity"
            android:exported="true">
        </activity>
        <activity android:name=".view.community.PerformanceCreateActivity"
            android:exported="true">
        </activity>
        <activity android:name=".view.community.PerformanceCreateOnwardActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>